<%= image_tag @portfolio.main_image if @portfolio.main_image%>

<h1>Show your portfolio</h1>

<em><%= @portfolio.title %></em>
<em><%= @portfolio.subtitle %></em>
<em><%= @portfolio.body %></em>

<h2>Techonologies Used:</h2>

<% @portfolio.technologies.each do |technology| %>
  <p><%= technology.name %></p>
<% end %>
